<div class="row">

  <% @books.each do |book| %>

      <div class="col-md-3">
        <div class="container">
          <div class="container1">
            <div class="polaroid" style="width: 100px; height: auto">
              <a class="book-links" href="/books/<%=book.id %>">
                <img src="<%= url_for(book.img) %>" alt="<%= url_for(book.title) %>" style="width: 100px; height: 175px;">
              <div class="overlay">
                <div class="text">
                  <p>
                    <strong>Category:</strong>
                    <%= url_for(book.category.name) %>
                  </p>
                  <p>
                    <strong>Title:</strong>
                    <%= url_for(book.title) %>
                  </p>
                  <p>
                    <strong>Author:</strong>
                    <%= url_for(book.author) %>
                  </p>
                </div>
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>

  <% end %>
</div>
