<p id="notice"><%= notice %></p>

<div class="container">
  <div class="container1">
    <div class="polaroid" style="width: 200px; height: auto">
      <%= image_tag(@book.img, style: 'width:100%') %>
      <div class="overlay">
        <div class="text">
          <p>
            <strong>Category:</strong>
            <%= @book.category.name %>
          </p>
          <p>
            <strong>Title:</strong>
            <%= @book.title %>
          </p>
          <p>
            <strong>Author:</strong>
            <%= @book.author %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Back', books_path %>
<% if user_signed_in? %>
  <% if @book.user_id == current_user.id %>
    <%= link_to 'Edit', edit_book_path(@book) %> | <%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' } %>
  <%end %>
<%end %>
