
<div class="row">

  <div class="col-md-4" style="bottom: 18px">

      <div class="polaroid" style="width: 200px; height: auto">
        <%= image_tag(@book.img, class: "book-show") %>
      </div>

        <div class="links btn-group" style="left: 55px; top: 20px">
          <%= link_to 'Back', books_path, class: "btn-custom" %>
          <% if user_signed_in? %>
            <% if @book.user_id == current_user.id %>
              <%= link_to 'Edit', edit_book_path(@book), class: "btn-custom" %> <%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-custom" %>
            <%end %>
          <%end %>
        </div>

  </div>

  <div class="col-md-8">
    <div class="book-info">
    <h2 class="book-title"><%= @book.title %></h2>
    <h3 class="book-author"><span>From: </span><%= @book.author %></h3>
    <h4 class="average-rating">Average Rating</h4>
    <div class="average-review-rating" data-score="<%= @average_review %>"></div>
    <span class="number-of-reviews">Based on <%= @book.reviews.count %> review(s)</span>
    <p class="book-desc"><%= @book.description %></p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="reviews">
    <%= render @book.reviews[0..2]%>
      <div>
        <% if user_signed_in? %>
          <%= link_to 'Add Review', new_book_review_path(@book), class: "btn-custom" %>
        <% else %>
          <p class="book-desc">Please sign in to add a review.</p>
      <%end %>
    </div>
    </div>
  </div>
<% if @book.reviews.size >= 3%>
  <div class="col-md-4">
    <div class="reviews">
      <%= render @book.reviews[3..]%>
      <div>
        <% if user_signed_in? %>
          <%= link_to 'Add Review', new_book_review_path(@book), class: "btn-custom" %>
        <%end %>
      </div>
    </div>
  </div>
<% end %>
</div>

<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score')
        }
    });
</script>
<script>
  $('.review-rating').raty({
      readOnly: true,
      score: function() {
          return $(this).attr('data-score');
      },
      path: '/assets/'
  });
</script>